@import "tailwindcss";
@import "../public/assets/fonts.css";

@theme {
    --font-default: 'Montserrat', sans-serif;
    --font-default-thin: 'Montserrat Thin', sans-serif;
    --font-default-extralight: 'Montserrat ExtraLight', sans-serif;
    --font-default-light: 'Montserrat Light', sans-serif;
    --font-default-medium: 'Montserrat Medium', sans-serif;
    --font-default-semibold: 'Montserrat SemiBold', sans-serif;
    --font-default-bold: 'Montserrat Bold', sans-serif;
    --font-default-extrabold: 'Montserrat ExtraBold', sans-serif;
    --font-default-black: 'Montserrat Black', sans-serif;

    --breakpoint-s: 500px;
}

html, body {
    @apply font-default m-0 p-0;
}
